pgdata
zen-packages
node_modules
zen.jar
synthea-with-dependencies.jar
aidbox-javascript-sdk-v1.0.0.tgz
target
zen-project

.env

.idea
.nrepl-port
.DS_Store
load-data.ts
clear-data.ts
.calva/
.clj-kondo/
.cpcache/
.lsp/

custom